/* mainPanel */
.messageHeader {
  border: 1px solid #ddd;
}

.messages {
  width: 100%;
  margin: 0 auto;
  height: 50vh;
  padding: 2em;
  background: #eee;
  overflow-y: scroll;
}

/* messageForm */
.formBtn {
  width: 90%;
  margin: 0 auto;
  border: none;
  margin-top: 2em;
  padding: 1em 0;
  color: #fff;
  font-size: 1.2rem;
}
.send {
  background: #333;
}
.upload {
  background: #ccc;
}

/* message */
.messageList {
  margin-bottom: 1.2em;
}
.messageList .mr-3 {
  border-radius: 50%;
}
.message .author {
  font-weight: bold;
}
.message .time {
  font-size: 0.75rem;
  margin-left: 1em;
  color: #aaa;
}
.message .content {
  font-size: 0.9rem;
}
